.container-fluid {
  padding-left: 200px;
}
.btn {
  width: 80px;
}

/************* patients content *************/
.page-head {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 20px;
}
/************* patients edit *************/

.form-check {
  position: relative;
  top: 8px;
}

.gender-inputs {
  margin: 0 150px 0 80px;
}

.error-message,
.warning-alert {
  display: none;
}
.summary-alerts .first-name-error,
.summary-alerts .middle-name-error,
.summary-alerts .last-name-error,
.summary-alerts .age-error,
.summary-alerts .email-error,
.summary-alerts {
  display: none;
}
.has-error input {
  border: solid 2px red;
}
