.container-fluid {
  padding-left: 200px;
}
.btn {
  width: 80px;
}

/************* patients content *************/
.page-head {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 20px;
}
/************* patients edit *************/

.form-check {
  position: relative;
  top: 8px;
}

.gender-inputs {
  margin: 0 150px 0 80px;
}

.warning-alert {
  display: none;
}
